body {
  align-items: center;
  height: 100vh;
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
}
.carousel {
  margin: 0 auto;
  display: flex;
  width: 60%;
}
.slide__img {
  width: 100%;
}
